/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/nbproject/private/
/nbproject
/.idea
/info
/.idea
/docs
/config/const.php
/public/Skype_Video.mp4
build.properties
