env.app_name="Laravel"
env.app_env=local
env.app_key=base64:vyFAWn+ps/ghSlLZehV8lZC8Zlqd9fpVL6yL0M83OsM=
env.app_debug=true
env.app_url=http://enrollment.loc
env.app_url_ssl=https://enrollment.loc

env.api_dev="http://ibuumerang.loc/api/set-binary-placement"
env.api_live="http://ibuumerang.loc/api/set-binary-placement"

env.force_https=true

env.log_channel=stack

env.db_connection=pgsql
env.db_host=127.0.0.1
env.db_port=5432
env.db_database=cbdevL2n
env.db_username=root
env.db_password=access

env.broadcast_driver=log
env.cache_driver=file
env.session_driver=file
env.session_lifetime=120
env.queue_connection=sync

env.redis_host=127.0.0.1
env.redis_password=null
env.redis_port=6379

env.mail_driver=smtp
env.mail_host=smtp.mailtrap.io
env.mail_port=2525
env.mail_username=null
env.mail_password=null
env.mail_encryption=null

env.pusher_app_id=
env.pusher_app_key=
env.pusher_app_secret=
env.pusher_app_cluster=mt1

env.mailchimp_apikey=
env.mailchimp_list_id=

env.tmt_url=
env.tmt_username=
env.tmt_password=
env.tmt_channel_id=
env.tmt_booking_reference=
